@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #022f40;
    --secondary-color: #0090C1;
    --accent1-color: #046E8F;
    --accent2-color: #38AECC;
    --additional-accent-color: 183446;
    --heading-font: "Bebas Neue", sans-serif;
    --default-font: "Bebas Neue", sans-serif;
    --nav-background-color: #0090C1;
    --nav-link-color: #022f40;
    --nav-hover-link-color: #32729b;
    --nav-hover-background-color: #38aecc;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
html {
    background-color: #82abbe;
}