main{
    max-width: 0;
    
}
main img {
    width: 20rem;
    margin: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.589);
    padding: 1rem;
    background-color: #227c7c;
    text-align: center;
    color: #ffffff;
    float: right;
}
main p {
    width: 20rem;
    margin: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.589);
    padding: 1rem;
    background-color: #227c7c;
    text-align: center;
    color: #ffffff;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
html{
    background-color:#33a8ac;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Class Selectors*/
 .box{
    padding: 1rem;
    width: 15rem;
    margin: 1rem;
    border: 1px solid rgba(6, 12, 21, 0.733);
    background-color: #518990;
    color: #1b4848;
    
}
/* I made another class because my <ul> was extending further then it should*/
.box2{
    padding: 1rem;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(6, 12, 21, 0.733);
    background-color: #518990;
    color: #1b4848;
    
}
aside{
    width: 20rem;
    text-align: center;
    position: relative;
}
aside h2{
    position: absolute;
    top: 40px;
    left: 100px;
}